@using Entities.Concrete
@model UserOperationClaim

<h1>USER OPERATİON CLAİM EKLEME SAYFASI</h1>
<br />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

@*<div class="row mt-4">
    <div class="col-md-4 offset-4">
        <form action="/UserOperationClaim/Add" method="post" enctype="multipart/form-data">



            <div class="form-group pb-2 ">
                <label for="exampleInputEmail1">Kullanıcı Adı </label>
                <input type="text" name="" class="form-control">
            </div>
               <div class="form-group pb-2 ">
                <label for="exampleInputEmail1">Operasyon Adı </label>
                <input type="text" name="name" class="form-control">
            </div>


            <button type="submit" class="btn btn-primary">KAYDET</button>
            <h2 class="text-danger">@TempData["Hata"]</h2>
        </form>
    </div>
</div>*@

<form asp-action="Add" asp-controller="UserOperationClaim" method="post" class="login100-form validate-form">
    <div class="col-md-4 offset-4">
        <div>
            <span class="label-input100">Kullanıcı</span>
            <input class="input100" type="text" asp-for="UserId">
            <span class="focus-input100"></span>
            <span asp-validation-for="UserId" class="text-danger"></span>
        </div>
             <div>
            <span class="label-input100">Operasyon</span>
            <input class="input100" type="text" asp-for="OperationClaimId">
            <span class="focus-input100"></span>
            <span asp-validation-for="OperationClaimId" class="text-danger"></span>
        </div>
        <div>
            <button type="submit" class="btn btn-primary">
            KAYDET
        </button>
        </div>
    </div>
 
        
</form>