
@using Entities.Concrete
@using Entities.Dtos
@model (UserDto userDto,List<OperationClaim>  operationClaims)


<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />



<div class="row" id="table-head">
    <div class="col-6">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">User Operation Ekleme Sayfası</h4>
            </div>
            <form asp-action="Update" asp-controller="UserOperationClaim" method="post" class="login100-form validate-form">
                <div class="table-responsive">
                    <table class="table table-borderless">
                        <tbody>
                            @Html.HiddenFor(x=>x.userDto.Id)
                                <td>Kullanıcı Adı</td>
                                <td>
                                    <input readonly="readonly" class="input100" type="text"  asp-for="userDto.KullaniciAdi">
                                    <span asp-validation-for="userDto.KullaniciAdi" class="text-danger"></span>
                                </td>
                                <br />

                            </tr>
                            <tr>
                                <td>Operasyon Adı</td>
                                <td>
                                    @*<input class="input100" type="text" asp-for="userDto.OperasyonAdi">*@
                                     <select asp-for="userDto.OperasyonAdi" asp-items="@(new SelectList(Model.operationClaims,"Name","Name"))">
                                         <option>Bir rol seçiniz.</option>
                                     </select>
                                    <span asp-validation-for="userDto.OperasyonAdi" class="text-danger"></span>
                                </td>

                            </tr>

                            <tr>
                                <td></td>
                                <td>
                                    <button type="submit" class="btn btn-primary">GÜNCELLE </button>

                                </td>
                               
                            </tr>
                            <tr>
                                 @TempData["Hata"]
                            </tr>

                        </tbody>
                    </table>
                </div>
            </form>
        </div>
    </div>
</div>
