
@using Entities.Dtos
@model UserDto


<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />






<div class="row" id="table-head">
    <div class="col-6">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">User Operation Ekleme Sayfası</h4>
            </div>
            <form asp-action="Update" asp-controller="UserOperationClaim" method="post" class="login100-form validate-form">
                <div class="table-responsive">
                    <table class="table table-borderless">
                        <tbody>
                            <tr>
                                <td>Kullanıcı Adı</td>
                                <td>
                                    <input readonly="readonly" class="input100" type="text"  asp-for="KullaniciAdi">
                                    <span asp-validation-for="KullaniciAdi" class="text-danger"></span>
                                </td>
                                <br />

                            </tr>
                            <tr>
                                <td>Operasyon Adı</td>
                                <td>
                                    <input class="input100" type="text" asp-for="OperasyonAdi">
                                    <span asp-validation-for="OperasyonAdi" class="text-danger"></span>
                                </td>

                            </tr>

                            <tr>
                                <td></td>
                                <td>
                                    <button type="submit" class="btn btn-primary">GÜNCELLE </button>

                                </td>
                                @TempData["Hata"]
                            </tr>

                        </tbody>
                    </table>
                </div>
            </form>
        </div>
    </div>
</div>
