@using Entities.Concrete
@model OperationClaim

<h1>OPERATİON CLAİM EKLEME SAYFASI</h1>
<br />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />



<form asp-action="Add" asp-controller="OperationClaims" method="post" class="login100-form validate-form">
    <div class="col-md-4 offset-4">
        <div>
            <span class="label-input100">Kullanıcı</span>
            <input class="input100" type="text" asp-for="Name">
            <span class="focus-input100"></span>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div>
            <button type="submit" class="btn btn-primary">
            KAYDET
        </button>
        </div>
    </div>
 
        
</form>