@using Entities.Dtos
@model AuthDto


<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

<div asp-validation-summary="All">

</div>


<!-- Table head options start operation claims -->
<div class="row" id="table-head">
    <div class="col-6">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Kullanıcı Ekleme</h4>
            </div>
            <form asp-action="Register" asp-controller="Auth" method="post" class="login100-form validate-form">
                <div class="table-responsive">
                    <table class="table">

                        <tbody>
                            
                            <tr>
                                <td>Kullanıcı Adı</td>
                                <td> <input class="input100" type="text" asp-for="Name"></td>
                                <span asp-validation-for="Name" class="text-danger"></span> <br />
                                                      
                            </tr>
                            <tr>
                                <td>Email</td>
                                <td><input class="input100" type="text" asp-for="Email"></td>
                                 <span asp-validation-for="Email" class="text-danger"></span>
                            </tr>
                            <tr>
                                <td>Image Url</td>
                                <td><input class="input100" type="text" asp-for="ImageUrl"></td>
                                 <span asp-validation-for="ImageUrl" class="text-danger"></span>
                            </tr>
                            <tr>
                                <td>Şifre</td>
                                <td><input class="input100" type="text" asp-for="Password"></td>
                                 <span asp-validation-for="Password" class="text-danger"></span>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    <button type="submit" class="btn btn-primary">KAYDET </button>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </form>
        </div>

    </div>
</div>
<!-- Table head options end -->