@using Entities.Dtos
@model AuthDto


<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
@*
<div asp-validation-summary="All">
</div>*@

<!-- Table head options start operation claims -->
<div class="row" id="table-head">
    <div class="col-6">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Kullanıcı Ekleme</h4>
            </div>
            <form asp-action="Register" asp-controller="Auth" method="post" class="login100-form validate-form">
                <div class="table-responsive">
                    <table class="table table-borderless">
                        <tbody>
                            <tr>
                                <td>Kullanıcı Adı</td>
                                <td>
                                    <input class="input100" type="text" asp-for="Name">
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </td>
                                <br />

                            </tr>
                            <tr>
                                <td>Email</td>
                                <td>
                                    <input class="input100" type="text" asp-for="Email">
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </td>

                            </tr>
                            <tr>
                                <td>Image Url</td>
                                <td>
                                    <input class="input100" type="text" asp-for="ImageUrl">
                                    <span asp-validation-for="ImageUrl" class="text-danger"></span>
                                </td>

                            </tr>
                            <tr>
                                <td>Şifre</td>
                                <td>
                                    <input class="input100" type="text" asp-for="Password">
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </td>

                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    <button type="submit" class="btn btn-primary">KAYDET </button>

                                </td>
                                @TempData["Hata"]
                            </tr>

                        </tbody>
                    </table>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Table head options end -->
@*
<form asp-action="Register" asp-controller="Auth" method="post" class="login100-form validate-form">
    <div class="col-md-4 offset-4">
        <div>
            <span class="label-input100">Kullanıcı</span>
            <input class="input100" type="text" asp-for="Name">
            <span class="focus-input100"></span>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div>
            <span class="label-input100">Operasyon</span>
            <input class="input100" type="text" asp-for="Email">
            <span class="focus-input100"></span>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div>
            <span class="label-input100">Operasyon</span>
            <input class="input100" type="text" asp-for="ImageUrl">
            <span class="focus-input100"></span>
            <span asp-validation-for="ImageUrl" class="text-danger"></span>
        </div>
        <div>
            <span class="label-input100">Operasyon</span>
            <input class="input100" type="text" asp-for="Password">
            <span class="focus-input100"></span>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div>
            <button type="submit" class="btn btn-primary">
                KAYDET
            </button>
            @TempData["Hata"]
        </div>
    </div>


</form>*@