@using Entities.Dtos
@model UserChangePasswordDto


<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

<!-- Table head options start operation claims -->
<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Şifre Değiştirme</h4>
            </div>
            <form asp-action="ChangePassword" asp-controller="User" method="post" class="login100-form validate-form">
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                              <tr>
                                <td>Id</td>
                                <td> <input class="input100" type="text" asp-for="UserId"></td>
                                <span asp-validation-for="UserId" class="text-danger"></span>
                            </tr>
                            <tr>
                                <td>Mevcut Şifreniz</td>
                                <td> <input class="input100" type="text" asp-for="CurrentPassword"></td>
                                <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                            </tr>
                            <tr>
                                <td>Yeni Şifreniz</td>
                                <td><input class="input100" type="text" asp-for="NewPassword"></td>
                                  <span asp-validation-for="NewPassword" class="text-danger"></span>
                            </tr>
                        
                      
                            <tr>
                                <td></td>
                                <td>
                                    <button type="submit" class="btn btn-primary">KAYDET </button>
                                    @TempData["Hata"]
                                </td>
                            </tr>
                           
                        </tbody>
                    </table>
                </div>
            </form>
        </div>

    </div>
</div>
<!-- Table head options end -->




